{% extends "Base.html" %}
{% block content %}

<body class="dabetes" style="background-image:url('../static/cvbk4.jpg'); background-size: cover; max-width:100%; max-height:100%%; " >
<div class="container">
  <br>
  <p style="font-family:verdana">The coronavirus outbreak has brought the world to a standstill. With businesses around the world shutting shop, the economy taking
    a severe hit and most countries being in lockdown, all of us are fighting Covid-19 the best way we can. <br>However, in this pandemic, the medical
     community including doctors, nurses and the medical staff are the warriors who are fighting this disease on the frontlines and are putting their lives at risk to keep us safe.
   </p>
   <p style="font-family:fantasy">Thank you for the sacrifices you make, every day and especially during this pandemic. Your dedication,
     commitment and courage deserve our deepest gratitude and admiration. Your service to patients is saving countless lives and making thousands of differences. </p>
  <div class="row">
    <div class="col">
      <img src="static/cv2.jpg" width="40%" height="95%">
      <img src="static/cv4.jpg" width="40%" height="95%">

    </div>
    <div class="column">
      <img src="static/cv5.jpg" width="40%" height="95%">
      <img src="static/cv6.jpg" width="40%" height="95%">

    </div>
    <div class="column">
      <img src="static/cv7.jpg" width="80%" height="95%">

    </div>
    <div class="column">
      <img src="static/cv9.jpg" width="40%" height="95%" >
      <img src="static/cv8.jpg" width="40%" height="95%">

    </div>
  </div>
  <p style="color:white;"">Pic credits <a href="https://unsplash.com/">UNSPLASH.com</a> </p>
<br>
</div>

</body>

{% endblock%}
